<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

<div class="wrap-login text-right">

    @{
        if (@ViewBag.TenNguoiDung == null)
        {
            <a class="cl_old" href="/account/login">Đăng nhập</a>
        }
        else
        {

            <a class="cl_old" href="#">Xin chào  @ViewBag.TenNguoiDung   </a>
            <a class="login100-form-btn" href="/Account/OutLogin">Thoát</a>

        }

    }


</div>
